<div
  class="bg-shield-intro bg-top bg-no-repeat lg:bg-cover lg:bg-top h-auto md:px-0 lg:pb-40"
>
  <div class="container mx-auto text-center py-10 px-4 lg:px-0">
    <section class="py-20">
      <h1
        class="font-semibold text-aviano-sans text-4xl md:text-6xl text-white"
      >
        Fire Protection
      </h1>
      <h1
        class="font-semibold text-aviano-sans text-4xl md:text-6xl text-sky-300"
      >
        Is Our Business
      </h1>
      <p
        class="text-xl font-light text-gray-300 text-center md:w-8/12 items-center m-auto"
      >
        Our commitment to keeping you and your assets safe extends beyond just
        the equipment and systems. Trust Ambition Fire Protection to protect
        your property, loved ones, and business operations from the threat of
        fire.
      </p>
    </section>
  </div>
  <div class="container mx-auto">
    <section class="flex flex-col lg:flex-row items-center lg:py-0 lg:pb-10">
      <div class="lg:w-1/2">
        <img
          src="../assets/featured-img-1.webp"
          width="613"
          height="426"
          alt="Protection You Can Count On"
        />
      </div>
      <div class="lg:w-1/2 flex-col flex gap-2 px-5 pt-20 lg:pt-0 lg:py-0">
        <h3 class="text-lg text-aviano-sans pt-5 text-sky-200">
          Protection You Can Count On
        </h3>
        <h1
          class="font-semibold text-aviano-sans text-4xl md:text-6xl text-white"
        >
          KEEPING YOUR EVERYTHING SAFE
        </h1>
        <p class="text-white text-xl font-light">
          At Ambition Fire Protection, we are dedicated to keeping your
          “everything” safe. From your property, to your loved ones, to your
          business operations, we provide a full range of fire protection
          services to ensure that you and your assets are always protected.
        </p>
        <p class="text-white text-xl font-semibold">
          Trust Ambition Fire Protection to keep you, your property, and your
          loved ones safe from the threat of fire.
        </p>
      </div>
    </section>
  </div>
</div>
<section class="white-cta justify-center items-center my-40 lg:my-0 py-20">
  <div
    class="container lg:max-h-5 mx-auto lg:w-2/3 flex flex-col lg:flex-row items-center"
  >
    <div class="shield-cta lg:w-1/2">
      <img
        src="../assets/shield-logo.svg"
        class="scale-75 lg:scale-105"
        alt="Ambition Fire Protection"
      />
    </div>
    <div class="cta-phone lg:w-1/2">
      <h1
        class="text-aviano-sans text-slate-900 text-center text-4xl lg:text-5xl font-semibold"
      >
        1-800-AMB-FIRE
      </h1>
      <h3
        class="text-aviano-sans text-slate-500 text-center text-1xl font-medium"
      >
        OR SCHEDULE AN APPOINTMENT ONLINE TODAY
      </h3>
    </div>
  </div>
</section>
<div class="container mx-auto text-left lg:px-0">
  <section
    class="flex flex-col-reverse lg:flex-row items-center gap-10 lg:py-40"
  >
    <div class="lg:w-1/2 flex-col flex gap-2 px-5">
      <h3 class="text-lg text-aviano-sans pt-5 text-sky-200">
        Protection You Can Count On
      </h3>
      <h1
        class="font-semibold text-aviano-sans text-4xl md:text-6xl text-white"
      >
        KEEPING YOUR EVERYTHING SAFE
      </h1>
      <p class="text-white text-xl font-light">
        Duis sit amet venenatis nisl. Nam non rhoncus nisl, et suscipit sem.
        Vivamus condimentum lectus nec odio imperdiet tristique. Suspendisse
        nibh arcu, malesuada vel placerat sit amet, suscipit sit amet enim. Ut
        ac eleifend arcu.
      </p>
      <p class="text-white text-xl font-semibold">
        Morbi iaculis ligula vel est finibus, quis accumsan ligula suscipit.
      </p>
    </div>
    <div class="lg:w-1/2 grid justify-items-end">
      <img
        src="../assets/featured-img-2.webp"
        width="613"
        height="426"
        alt="Keeping Your Everything Safe"
      />
    </div>
  </section>
</div>
