<section class="container mx-auto flex flex-col lg:flex-row gap-5 text-left">
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4"
  >
    <img src="assets/icon-1.svg" class="w-16" />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Superior
      <br />
      Protection
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a href="#" class="text-white text-aviano-sans flex items-center font-bold">
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> Get Started Today</a
    >
  </div>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4"
  >
    <img src="assets/icon-2.svg" class="w-16" />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Dependable
      <br />
      Repair services
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a href="#" class="text-white text-aviano-sans flex items-center font-bold">
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> View Our Services</a
    >
  </div>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4"
  >
    <img src="assets/icon-3.svg" class="w-16" />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Life Safety
      <br />
      Inspections
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a href="#" class="text-white text-aviano-sans flex items-center font-bold">
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> Schedule An Appointment</a
    >
  </div>
</section>
