<section
  class="container mx-auto flex flex-col lg:flex-row gap-5 text-left pb-24"
>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4 justify-end"
  >
    <img
      src="assets/icons-protection.svg"
      class="w-16"
      alt="Superior Protection"
    />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Fire Alarm
      <br />
      Systems
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a
      href="#"
      class="text-white text-aviano-sans flex items-center font-bold hover:text-sky-200"
    >
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> View Fire Alarms</a
    >
  </div>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4 justify-end"
  >
    <img
      src="assets/icons-repair.svg"
      class="w-16"
      alt="Dependable Repair Services"
    />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Security
      <br />
      & Gates
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a
      href="#"
      class="text-white text-aviano-sans flex items-center font-bold hover:text-sky-200"
    >
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> View Security Services</a
    >
  </div>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4 justify-end"
  >
    <img
      src="assets/icon-inspections.svg"
      class="w-16"
      alt="Life Safety Inspections"
    />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Fire Sprinkler
      <br />
      Systems
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a
      href="#"
      class="text-white text-aviano-sans flex items-center font-bold hover:text-sky-200"
    >
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> Schedule An Appointment</a
    >
  </div>
</section>
<section
  class="container mx-auto flex flex-col lg:flex-row gap-5 text-left pb-24"
>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4 justify-end"
  >
    <img
      src="assets/icons-protection.svg"
      class="w-16"
      alt="Superior Protection"
    />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Professional
      <br />
      Monitoring
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a
      href="#"
      class="text-white text-aviano-sans flex items-center font-bold hover:text-sky-200"
    >
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> Get Professional Monitoring</a
    >
  </div>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4 justify-end"
  >
    <img
      src="assets/icons-repair.svg"
      class="w-16"
      alt="Dependable Repair Services"
    />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Networking
      <br />
      Services
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a
      href="#"
      class="text-white text-aviano-sans flex items-center font-bold hover:text-sky-200"
    >
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> View Networking Services</a
    >
  </div>
  <div
    class="bg-amb-blue bg-opacity-50 transition ease-in-out hover:bg-opacity-100 rounded-md bg-blend-multiply hover:bg-blend-darken icon-box p-10 flex flex-col gap-4 justify-end"
  >
    <img
      src="assets/icon-inspections.svg"
      class="w-16"
      alt="Life Safety Inspections"
    />
    <h3 class="text-aviano-sans font-semibold text-white text-4xl leading-8">
      Techincal
      <br />
      Support
    </h3>
    <p class="text-white text-lg font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
      lacinia diam eu eleifend. Phasellus nisi tortor, aliquam nec fringilla a,
      mattis et lorem. Etiam id mattis sem, vel convallis mauris.
    </p>
    <a
      href="#"
      class="text-white text-aviano-sans flex items-center font-bold hover:text-sky-200"
    >
      <i class="fa-solid fa-square-plus pr-2 text-md"></i> 24/7 Technical Support</a
    >
  </div>
</section>
