<section class="bg-amb-light">
  <div
    class="container flex flex-col lg:flex-row h-52 footer-blue mx-auto justify-center items-center"
  >
    <div class="lg:w-1/4 flex justify-start">
      <img src="assets/ambition-logo-white.svg" class="" />
    </div>
    <div class="lg:w-2/4 flex justify-center lg:justify-center">
      <ul class="list-none">
        <li class="float-left pl-5 text-white">Home</li>
        <li class="float-left pl-5 text-white">About</li>
        <li class="float-left pl-5 text-white">Services</li>
        <li class="float-left pl-5 text-white">Industries</li>
        <li class="float-left pl-5 text-white">Contact Us</li>
      </ul>
    </div>
    <div class="lg:w-1/4">
      <ul class="list-none flex justify-center lg:justify-end">
        <li class="float-left pl-5 text-white">Facebook</li>
        <li class="float-left pl-5 text-white">Instagram</li>
        <li class="float-left pl-5 text-white">Twitter</li>
      </ul>
    </div>
  </div>
</section>
