<section class="bg-amb-light py-20 lg:py-0">
  <div
    class="container flex flex-col lg:flex-row h-52 footer-blue mx-auto justify-center items-center gap-10"
  >
    <div class="lg:w-1/4 flex justify-start">
      <a href="#top"
        ><img src="assets/ambition-logo-white.svg" class="w-80" /></a
      >
    </div>
    <div
      class="lg:w-2/4 flex justify-center lg:justify-center text-aviano-sans text-center"
    >
      <ul class="list-none">
        <li class="float-left pl-5 text-white">About</li>
        <li class="float-left pl-5 text-white">Services</li>
        <li class="float-left pl-5 text-white">Industries</li>
        <li class="float-left pl-5 text-white">Contact Us</li>
      </ul>
    </div>
    <div class="lg:w-1/4">
      <ul class="list-none flex justify-center lg:justify-end">
        <li
          class="float-left pl-5 text-white hover:text-sky-300 hover:scale-125"
        >
          <a href="#"><i class="fa-brands fa-facebook text-xl"></i></a>
        </li>
        <li class="float-left pl-5 text-white">
          <a href="#"><i class="fa-brands fa-instagram text-xl"></i></a>
        </li>
        <li class="float-left pl-5 text-white">
          <a href="#"><i class="fa-brands fa-twitter text-xl"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
