---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replace(/\//g, "");
---

<div class="flex flex-col lg:flex-row items-center justify-between">
  <div class="text-white amb-logo">
    <a href="/">
      <img
        src="assets/ambition-logo-white.svg"
        alt="Ambition Fire Protection"
        class="w-96"
      />
    </a>
  </div>
  <div class="hidden lg:inline-block text-white text-aviano-sans text-xl">
    <nav style="display:none;">
      <a
        class={currentPath === ""
          ? "inline-block px-4 py-2 font-black text-white hover:text-white border-transparent border-b-4  transition duration-100 ease-in-out"
          : "inline-block px-4 py-2 font-light hover:font-semibold text-gray-300 hover:text-white border-transparent border-b-4 hover:border-b-4 hover:border-sky-300 transition duration-100 ease-in-out"}
        href="/"
      >
        Home
      </a>
      <a
        class={currentPath === "about"
          ? "inline-block px-4 py-2 font-black text-white hover:text-white border-transparent border-b-4  transition duration-100 ease-in-out"
          : "inline-block px-4 py-2 font-light hover:font-semibold text-gray-300 hover:text-white border-transparent border-b-4 hover:border-b-4 hover:border-sky-300 transition duration-100 ease-in-out"}
        href="/about"
      >
        About Us
      </a>
      <a
        class={currentPath === "services"
          ? "inline-block px-4 py-2 font-black text-white hover:text-white border-transparent border-b-4  transition duration-100 ease-in-out"
          : "inline-block px-4 py-2 font-light hover:font-semibold text-gray-300 hover:text-white border-transparent border-b-4 hover:border-b-4 hover:border-sky-300 transition duration-100 ease-in-out"}
        href="/services"
      >
        Services
      </a>
      <a
        class={currentPath === "industries"
          ? "inline-block px-4 py-2 font-black text-white hover:text-white border-transparent border-b-4  transition duration-100 ease-in-out"
          : "inline-block px-4 py-2 font-light hover:font-semibold text-gray-300 hover:text-white border-transparent border-b-4 hover:border-b-4 hover:border-sky-300 transition duration-100 ease-in-out"}
        href="/industries"
      >
        Industries
      </a>
      <a
        class={currentPath === "contact"
          ? "inline-block px-4 py-2 font-black text-white hover:text-white border-transparent border-b-4  transition duration-100 ease-in-out"
          : "inline-block px-4 py-2 font-light hover:font-semibold text-gray-300 hover:text-white border-transparent border-b-4 hover:border-b-4 hover:border-sky-300 transition duration-100 ease-in-out"}
        href="/contact"
      >
        Contact Us
      </a>
    </nav>
  </div>
</div>
<style is:global>
  .amb-logo a img {
    content: url(../assets/logo-vert.svg);
  }
  @media (min-width: 640px) {
    .amb-logo a img {
      content: url(../assets/logo-vert.svg);
    }
  }

  @media (min-width: 1024px) {
    .amb-logo a img {
      content: url(../assets/ambition-logo-white.svg);
    }
  }
</style>
