<div class="flex flex-col lg:flex-row items-center justify-between">
  <div class="text-white amb-logo">
    <a href="/">
      <img
        src="assets/ambition-logo-white.svg"
        alt="Ambition Fire Protection"
        class="w-96"
      />
    </a>
  </div>
  <div class="hidden lg:inline-block text-white text-aviano-sans text-xl">
    <nav>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/"
      >
        Home
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/about"
      >
        About Us
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/services"
      >
        Services
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/industries"
      >
        Industries
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/contact"
      >
        Contact Us
      </a>
    </nav>
  </div>
</div>
<style is:global>
  .amb-logo a img {
    content: url(assets/logo-vert.svg);
  }
  @media (min-width: 640px) {
    .amb-logo a img {
      content: url(../assets/logo-vert.svg);
    }
  }

  @media (min-width: 1024px) {
    .amb-logo a img {
      content: url(../assets/ambition-logo-white.svg);
    }
  }
</style>
