<div class="flex items-center justify-between">
  <div class="text-white">
    <a href="/">
      <img
        src="assets/ambition-logo-white.svg"
        alt="Ambition Fire Protection"
      />
    </a>
  </div>
  <div class="text-white text-aviano-sans text-xl">
    <nav>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/"
      >
        Home
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/about"
      >
        About Us
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/services"
      >
        Services
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/industries"
      >
        Industries
      </a>
      <a
        class="inline-block px-4 py-2 font-bold text-gray-300 hover:text-white"
        href="/contact"
      >
        Contact Us
      </a>
    </nav>
  </div>
</div>
